{% extends "base.html" %}

{% block content %}
    {% include 'include/messages.html' %}
    <h1 class="home-titles">Malwina Car Rental in Warsaw</h1>
    <div class="home-descr">
        <p>
            Hire a car in Warsaw with Malwina Rental Cars for the road trip of a lifetime. Travel the Highways and Interstates through some of the most beautiful scenery that Poland has to offer. From the lakes to the mountains, pick a Freeway and get on the drive of your life. <br/>
            With Malwina Rental Cars, you can plan your trip with ease. Choose from a roomy family car to fit everyone in or a sporty number to travel in style. <br/>
            Rent a vehicle with Malwina Rental Cars and get around Poland worry-free.
        </p>
    </div>
{% endblock content %}