{% extends "base.html" %}

{% block content %}
    {% include 'include/messages.html' %}
    <fieldset>
        <legend>Price calculator</legend>
        <form action="" method="POST">
            {% csrf_token %}
            <div class="form-container">
            {% for field in form %}
              <div class="form-label"> {{field.label}} </div>
              <div> {{field}} </div>
            {% endfor %}
            </div>
            <button id="my-button" type="submit">Calculate</button>
        </form>
        <br/>
    </fieldset>
{% endblock %}