{% extends "base.html" %}
{% block content %}
	<fieldset>
  	 	<h2> Forgotten your password? </h2><hr>
        {% include 'include/messages.html' %}
		<p>
            Enter your email address below, and we'll email instructions for setting a new one.
        </p>
        <form method="POST">
            {% csrf_token %}
            {% for field in form %}
                  <div class="form-label"> {{field.label}} </div>
                  <div> {{field}} </div>
            {% endfor %}
            <button id='my-button' type="submit">Send email</button>
        </form>
    </fieldset>
{% endblock %}